* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #221f3b;
    width: 300px;
    z-index: 9997;
    padding: 0 15px;
    overflow-y: auto;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("static/hero_image.jpg");
    background-size: cover;
}

nav {
    padding-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

nav>ul {
    list-style: none;
}

.nav-links {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    color: #ebebeb;
    margin-bottom: 8px;
    font: 15px;
}

.profile>h1 {
    font-size: 24px;
    font-weight: 600;
    color: #ebebeb;
    text-align: center;
}